.address__item {
  width: 100%;
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer {
  &__auth {
    font-style: normal;
    line-height: calc(16 / 14);
    color: var(--auth-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  @media screen and (max-width: 1199px) {
    &__nav .footer__item:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__nav .footer__item:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__address {
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 76px;
    }
  }
  &__item {
    @media screen and (min-width: 1200px) {
      width: 207px;
    }
  }
}
