.footer {
  &__contacts {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
     margin-left: auto;
     margin-right: auto;
    }
  }
  &__contacts-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__contacts-icon {
    fill: #fff;
  }
}
.contacts__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
