.hero {
  background-color: var(--secondary-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 118px;
  padding-bottom: 118px;

  // phone screen
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img_mob@1x.webp);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img_mob@2x.webp);
  }

  // tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img_tab@1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/img_tab@2x.webp);
    }
  }

  // desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img_desk@1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/img_desk@2x.webp);
    }
  }

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/1-img.jpg);

  @media screen and (max-width: 767px) {
    min-height: 400px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-title-color);

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
.hero__btn {
  min-width: 216px;
  min-height: 50px;
  padding: 9px 31px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--main-btn-color);
  color: var(--main-btn-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--main-btn-text-color);
  color: var(--accent-color);
  border: 0;
}
