.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;

  color: var(--main-title-color);
}
.hero__btn {
  min-width: 216px;
  min-height: 50px;
  padding: 9px 31px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--main-btn-color);
  color: var(--main-btn-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--main-btn-text-color);
  color: var(--accent-color);
  border: 0;
}