:root {
  --main-title-color: #fff;
  --secondary-title-color: #212121;
  --main-btn-color: #2196f3;
  --main-btn-text-color: #fff;
  --secondary-btn-color: #f5f4fa;
  --secondary-btn-text-color: #212121;
  --accent-color: #2196f3;
  --logo-title-color: #000;
  --logo-footer-color: #fff;
  --description-color: #757575;
  --nav-text-color: #212121;
  --auth-text-color: #757575;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --team-section-bg-color: #f5f4fa;
  --team-members-bg-color: #fff;
  --border-color: #ececec;
  --icons-color: #afb1b8;

  /* animation  */
  --animation: 300ms ease-out;
  /* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}